Source: ec2-expire-snapshots
Section: utils
Priority: extra
Maintainer: Eric Hammond <ehammond@thinksome.com>
Build-Depends: cdbs, debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/alestic/ec2-expire-snapshots
Vcs-Git: git://github.com/alestic/ec2-expire-snapshots.git

Package: ec2-expire-snapshots
Architecture: all
Depends: ${misc:Depends}, perl, libnet-amazon-ec2-perl, libfile-slurp-perl, libdate-manip-perl, libdatetime-perl, libdatetime-format-iso8601-perl
Description: Delete expired EBS snapshots in Amazon EC2
 The "ec2-expire-snapshots" command deletes EC2 EBS snapshots based on
 the rules and strategies you provide.
